apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: nehaapal/flask-mongo-app
        ports:
        - containerPort: 5000
        env:
        - name: MONGODB_URI
          value: mongodb://admin:password123@mongodb:27017/flask_db?authSource=admin
